/* selector {
    property: value;
} */

* {
  text-align: start;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
}
p {
  color: black !important;
}

p {
  color: pink;
  text-decoration: underline;
  text-decoration: line-through !important;
  text-transform: uppercase;
  line-height: 50px;
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
/* h2,
p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
} */
/* h2 + p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
} */
h2 + p:hover {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}
/* h2 p {
  text-align: right;
} */
/* h2 > p {
  text-align: right;
} */

li {
  list-style: none;
  display: inline-block;
  text-align: right;
}

.webtext:last-child {
  border: 5px dashed green;
}

/* .webtext:first-child {
  border: 5px dashed green;
} */
.active {
  color: black;
}
#div1 {
  background: rgba(0, 0, 255, 0.4);
}
#div2 {
  background: rgba(0, 255, 55, 0.5);
}
img {
  float: left;
}
.boxmodel {
  border: 5px solid red;
  display: inline-block;
  padding: 30px;
  margin: 10px;
  width: 33px;
  height: 44px;
}
footer {
  clear: both;
}
